/* @font-face {
    font-family: 'Neue_Helvetica_bold';
    src: url('../fonts/bc3be26e-0e16-4127-a87d-eb76bb903f4c.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Neue_Helvetica_light';
    src: url('../fonts/8c8f6264-60c9-4e03-ad8b-be271fedffae.woff') format('woff');
    font-weight: bold;
}

@font-face {    
    font-family: 'Helvetica_Neue';
    src: url('../fonts/4d29576a-c2d0-47a5-87eb-e074ed070130.woff') format('woff');
} */